<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>This website uses data from <a href="https://www.mapbox.com" target="_blank">mapbox</a> and <a href="http://weatherstack.com" target="_blank">weatherstack</a> web services.</p>
    <img src="/img/michael-avatar.jpg" alt="michael-avatar.jpg" class="portrait">
  </div>
  {{>footer}}
</body>
</html>